<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.mhg.dao.AuthFunctionMapper">
  <resultMap id="BaseResultMap" type="com.mhg.pojo.AuthFunction">
    <id column="authid" jdbcType="BIGINT" property="authid" />
    <result column="authtype" jdbcType="VARCHAR" property="authtype" />
    <result column="roleid" jdbcType="BIGINT" property="roleid" />
  </resultMap>
  <sql id="Example_Where_Clause">
    <where>
      <foreach collection="oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause">
    <where>
      <foreach collection="example.oredCriteria" item="criteria" separator="or">
        <if test="criteria.valid">
          <trim prefix="(" prefixOverrides="and" suffix=")">
            <foreach collection="criteria.criteria" item="criterion">
              <choose>
                <when test="criterion.noValue">
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue">
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue">
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue">
                  and ${criterion.condition}
                  <foreach close=")" collection="criterion.value" item="listItem" open="(" separator=",">
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List">
    authid, authtype, roleid
  </sql>

    <select id="findAll" resultType="java.lang.String">
        select authtype from authfunction where roleid = 1
    </select>

    <select id="findOne" resultType="java.lang.String">
        select authtype from authfunction where roleid = 2
    </select>

  <select id="selectByExample" parameterType="com.mhg.pojo.AuthFunctionExample" resultMap="BaseResultMap">
    select
    <if test="distinct">
      distinct
    </if>
    <include refid="Base_Column_List" />
    from authfunction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null">
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" parameterType="java.lang.Long" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from authfunction
    where authid = #{authid,jdbcType=BIGINT}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Long">
    delete from authfunction
    where authid = #{authid,jdbcType=BIGINT}
  </delete>
  <delete id="deleteByExample" parameterType="com.mhg.pojo.AuthFunctionExample">
    delete from authfunction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.mhg.pojo.AuthFunction">
    insert into authfunction (authid, authtype, roleid
      )
    values (#{authid,jdbcType=BIGINT}, #{authtype,jdbcType=VARCHAR}, #{roleid,jdbcType=BIGINT}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.mhg.pojo.AuthFunction">
    insert into authfunction
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="authid != null">
        authid,
      </if>
      <if test="authtype != null">
        authtype,
      </if>
      <if test="roleid != null">
        roleid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="authid != null">
        #{authid,jdbcType=BIGINT},
      </if>
      <if test="authtype != null">
        #{authtype,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        #{roleid,jdbcType=BIGINT},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.mhg.pojo.AuthFunctionExample" resultType="java.lang.Long">
    select count(*) from authfunction
    <if test="_parameter != null">
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map">
    update authfunction
    <set>
      <if test="record.authid != null">
        authid = #{record.authid,jdbcType=BIGINT},
      </if>
      <if test="record.authtype != null">
        authtype = #{record.authtype,jdbcType=VARCHAR},
      </if>
      <if test="record.roleid != null">
        roleid = #{record.roleid,jdbcType=BIGINT},
      </if>
    </set>
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map">
    update authfunction
    set authid = #{record.authid,jdbcType=BIGINT},
      authtype = #{record.authtype,jdbcType=VARCHAR},
      roleid = #{record.roleid,jdbcType=BIGINT}
    <if test="_parameter != null">
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.mhg.pojo.AuthFunction">
    update authfunction
    <set>
      <if test="authtype != null">
        authtype = #{authtype,jdbcType=VARCHAR},
      </if>
      <if test="roleid != null">
        roleid = #{roleid,jdbcType=BIGINT},
      </if>
    </set>
    where authid = #{authid,jdbcType=BIGINT}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.mhg.pojo.AuthFunction">
    update authfunction
    set authtype = #{authtype,jdbcType=VARCHAR},
      roleid = #{roleid,jdbcType=BIGINT}
    where authid = #{authid,jdbcType=BIGINT}
  </update>
</mapper>